body {
    background-color: rgb(7, 88, 61);
    font-family:ital;
}

footer {
    background-color: black;
    color:white;
    position:fixed;
    bottom:0;
    width:100%;
    height: 2rem;
}

footer p {
    text-align: center
    font-size:0.6rem;

}